/* =========================== */
/* Globe font stack examples
/* =========================== */


/* Serif headline */
/* font-family: 'Miller', Helvetica, Times New Roman, Times, serif;* / 

/* Sans-serif headline */
/* font-family: 'Benton', Helvetica, Arial, sans-serif; */

/* Serif body */
/* font-family: 'Georgia', Times New Roman, Times, serif; */

/* Sans-serif body */
/* font-family: 'Helvetica', Arial, sans-serif; */

/* =========================== */
/* Graphic styles
/* =========================== */
			
$sans = Helvetica, Arial, sans-serif
$serif = Georgia, Times, serif
$benton = Benton, Helvetica, Arial, sans-serif
$miller = Miller, Georgia, Times, serif
$miller-banner = Miller-Banner, Georgia, Times, serif

$regular = 400
$bold = 700

$mq-big = 53em
$mq-med = 40em
$mq-sm = 35em

font(family = $serif, weight = 400, style = normal)
	font-family family
	font-weight weight
	font-style style

$dem = rgb(89, 136, 157)
$gop = rgb(191, 97, 81)

$parties = {
	democratic: $dem
	republican: $gop
}

.transparent 
	opacity 0

.intro
	text-align center

	&-hed 
		font-size 1.4em 
		font($benton, bold)
		
	&-updated 
		transition opacity 1s
		font-size 0.75em
		color #bcbcbc
		font($benton) 
		text-align right

.chart-container 
	overflow auto
	zoom 1

.chart 
	margin-bottom 2.5em
	&:last-child
		margin-bottom 0.5em
	
	@media (min-width: 900px)
		float left 
		width 50%
		margin-bottom 0.5em
		&:nth-child(1)
			padding-right 1em
		&:nth-child(2)
			padding-left 1em
		&:only-child
			width 100%
			float none

	

for party, color in $parties

	.{party} .party-name 
		font($benton, $bold)
		font-size 1.2em
		color color
		border-bottom 1px solid #efefef
		margin-bottom 0.5em

.candidate 
	display block
	height 100%
	width 100%
	overflow hidden
	position relative
	margin-bottom 0.5em
	font($benton, $bold)
	
	&-name
		float left 
		width 5em
		text-transform capitalize
		
	&-bar-container
		height 1.5em
		overflow hidden
		position relative
		background-color #efefef
		border-radius 3px
		margin-bottom 0.5em

.bar 
	height 100%
	float left 
	display inline-block

	&-number 
		position absolute
		top 0
		font-size 0.75em
		line-height 2
		color #333
		
		&.before-half 
			margin-left 0.75em
		
		&.after-half
			margin-right 0.75em
			color #efefef
			text-shadow 0 0 1px #666
			
		

.democratic .bar-pledged 
	background-color $dem

.democratic .bar-super 
	background-color tint($dem,20)
	background-image repeating-linear-gradient(
		45deg,
		tint($dem,40),
		tint($dem,40) .2em,
		tint($dem,20) .2em,
		tint($dem,20) .4em
	)
			
.republican .bar-pledged 
	background-color $gop

.needed 
	font($benton)
	font-size 0.8em
	color #888
	text-align right
	position relative

	&:after 
		display inline-block
		
		transform translateY(0.5em)
		content '\02935'		
		
		// position absolute
		// bottom -0.75em
		// right 0
		// content '\025BE'
		

.attribution 
	font($benton, $bold)
	font-size 0.75em 

.note 
	line-height 1.5

.dem-key 
	font($benton)
	font-size 0.75em
	color #888
	height 100%
	overflow hidden
	line-height 1.5
	
	li 
		float left
		margin-right 1em
		list-style-type none
		vertical-align middle
		
		&:before
			content ''
			display inline-block
			width 1.4em 
			height 1.4em
			margin-right 0.5em
			border-radius 3px
			vertical-align bottom
			
		&.key-pledged:before
			background-color $dem

		&.key-super:before
			background-color tint($dem,20)
			background-image repeating-linear-gradient(
				45deg,
				tint($dem,40),
				tint($dem,40) .2em,
				tint($dem,20) .2em,
				tint($dem,20) .4em
			)
	
.gop-note 
	font($benton)
	font-size 0.75em
	color #888
	line-height 1.4	
	.name 
		text-transform capitalize

.more-info
	overflow auto
	zoom 1
	p 
		float left 
		width 50%
		
		&.races-container
			font($benton)
			font-size 0.75em 
			text-align right
			a 
				text-decoration underline
				color #222
					
				&:hover 
					color #888
					text-decoration underline
					transition color 0.2s ease-in-out