/* =========================== */
/* Globe font stack examples
/* =========================== */


/* Serif headline */
/* font-family: 'Miller', Helvetica, Times New Roman, Times, serif;* / 

/* Sans-serif headline */
/* font-family: 'Benton', Helvetica, Arial, sans-serif; */

/* Serif body */
/* font-family: 'Georgia', Times New Roman, Times, serif; */

/* Sans-serif body */
/* font-family: 'Helvetica', Arial, sans-serif; */

/* =========================== */
/* Graphic styles
/* =========================== */

$sans = Helvetica, Arial, sans-serif
$serif = Georgia, Times, serif
$benton = Benton, Helvetica, Arial, sans-serif
$miller = Miller, Georgia, Times, serif
$miller-banner = Miller-Banner, Georgia, Times, serif

$regular = 400
$bold = 700

font(family = $serif, weight = 400, style = normal)
	font-family family
	font-weight weight
	font-style style
	
.bars 
	height 1.5em
	position relative
	background-color #efefef
	line-height 1.5

.bar
	height 100%
	float left 
	
	&-pledged 
		background-color pink
	
	&-super
		background-color aqua

.number 
	font-size 0.9em
	margin-left 0.5em	

// .needed-marker
// 	position absolute
// 	height 120%
// 	left 50%
// 	width 1px
// 	background-color purple
// 	transform translateY(-10%)
	
	